################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UIDevelopersTest/.vs/UIDevelopersTest/v15
